<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINAL EXAM</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="/script.js" defer></script>
</head>
<body>
    <nav>
        <h3>SWE432</h3>
        <h3>Student</h3>
        <h3>Contact</h3>
    </nav>

    <main>
        <%- body %>
    </main>
    <footer>
        <p><%= footerData %></p>
    </footer>
</body>
</html>