<div>
    <form action="/student/submit" method="POST">
        <label>Name: </label>
        <input name="name" type="text" required>
        <br>
        <br>
        <label>G-Number: </label>
        <input name="g_number" type="text" required>
        <br>
        <br>
        <label>E-mail: </label>
        <input name="email" type="text" required>
        <br>
        <br>
        <div class="action_input">
            <input type="submit" value="Submit">
            <input type="reset" value="Clear">
        </div>
    </form>
</div>